import %workspace%/../../tools/preset.bazelrc

# Incompatible flags the BCR presubmit tests via bazelisk --migrate.
# https://github.com/bazelbuild/bazel-central-registry/blob/main/incompatible_flags.yml
common:ci --incompatible_config_setting_private_default_visibility
common:ci --incompatible_disable_starlark_host_transitions
common:ci --incompatible_disable_native_repo_rules
common:ci --incompatible_autoload_externally=
